<h3>Confirmed speakers</h3>
We have started shortlisting talks with an objective to Ignite/Inspire minds of the local community and also have topics across fields. Below are the confirmed speakers in no particular order
<h3>Revathi of www.yocee.in</h3> Website <a href="http://www.yocee.in"> www.yocee.in</a><br/>Talking about "Young minds express".<br/>
<i>"I love to see the young people write as much as I love to write"-Revathi</i>
<h3>Peter Van Geit @petervangeit</h3>
Website <a href="http://www.chennaitrekkers.org">www.chennaitrekkers.org</a><br/>
Talking about "Transforming people through trekking".<br/>
<i>"Peter is the founder of the "Chennai Trekking Club", a 14 thousand member volunteer based non profit group of outdoor enthusiasts. Like minded souls overcome physical challenges as one team in the wilderness pushing their physical and mental limits. People come out of jungle survival missions as transformed human beings."</i>
<h3>Ramkumar Raghunathan @ramsabode</h3>
Talking about "Music - The Science behind the Art". <br/>
<i>"Ramkumar is a mrudangam artist. He learnt the art of mrudangam playing from Shri T.R. Dhandapany and Padma Vibhushan Sangeetha Kalanidhi Dr. Umayalpuram K. Sivaraman. He has performed in 500+ concerts and recordings for leading organizations and has also performed in All India Radio and Doordarshan (National Television). He is a recipient of many scholarships and awards including the recent Best Mrudangam Artist award from Sri Parthasarathy Swamy Sabha, Chennai in 2010 and Kumbakonam Shri Rajappa Iyer Award from Sri Krishna Gana Sabha, 2011. He works in the senior management and leadership team of a MNC."</i>
<h3>Prasanth Guruprasad @gprasant</h3>
Talking about "Finding Mnemo - Techniques that can be used to remember things effectively and a foray into the world of competitive memory as a sport" <br/>
<i>"Prasanth can solve a rubiks cube in 2 minutes and memorize a deck of cards in 5 minutes. Prasanth is an application developer by profession."</i>


