<h3>Confirmed speakers 2012</h3>
We have started shortlisting talks with an objective to Ignite/Inspire minds of the local community and also have topics across fields. Below are the confirmed speakers in no particular order
<h3>Revathi of www.yocee.in</h3> Website <a href="http://www.yocee.in"> www.yocee.in</a><br/>Talking about "Young minds express".<br/>
<i>"I love to see the young people write as much as I love to write"-Revathi</i>
<h3>Peter Van Geit @petervangeit</h3>
Website <a href="http://www.chennaitrekkers.org">www.chennaitrekkers.org</a><br/>
Talking about "Transforming people through trekking".<br/>
<i>"Peter is the founder of the "Chennai Trekking Club", a 14 thousand member volunteer based non profit group of outdoor enthusiasts. Like minded souls overcome physical challenges as one team in the wilderness pushing their physical and mental limits. People come out of jungle survival missions as transformed human beings."</i>
<h3>Ramkumar Raghunathan @ramsabode</h3>
Talking about "Music - The Science behind the Art". <br/>
<i>"Ramkumar is a mrudangam artist. He learnt the art of mrudangam playing from Shri T.R. Dhandapany and Padma Vibhushan Sangeetha Kalanidhi Dr. Umayalpuram K. Sivaraman. He has performed in 500+ concerts and recordings for leading organizations and has also performed in All India Radio and Doordarshan (National Television). He is a recipient of many scholarships and awards including the recent Best Mrudangam Artist award from Sri Parthasarathy Swamy Sabha, Chennai in 2010 and Kumbakonam Shri Rajappa Iyer Award from Sri Krishna Gana Sabha, 2011. He works in the senior management and leadership team of a MNC."</i>
<h3>Prasanth Guruprasad @gprasant</h3>
Talking about "Finding Mnemo - Techniques that can be used to remember things effectively and a foray into the world of competitive memory as a sport" <br/>
<i>"Prasanth can solve a rubiks cube in 2 minutes and memorize a deck of cards in 5 minutes. Prasanth is an application developer by profession."</i>
<h3> Anand Krishnaswamy</h3>
Talking about "Troubadour Chef".<br/>
<i>
Anand's umbilical cord runs straight into the kitchen. No wonder he is a Troubadour Chef (well before he was a computer scientist/software engineer), wandering places & whipping up delicacies in different kitchens. But what's new about that? A Troubadour Chef is different from your take-home chef & Anand will walk you through that world in his Chennai Ignite talk. Be there if your heart is anywhere close to your stomach.
</i>
<h3>Sharadha Ramakrishnan</h3>
Talking about "It'll all make sense in the end, I promise"<br/>
<i>Sharadha is from the city of Chennai, Tamil Nadu, India. She grew up in the middle east for the most part and came back to India for her college education. Sharadha holds a Masters degree in Software Engineering from PSG Tech. She founded Monkey Creative Labs in May 2010, right after graduation and wants to make a difference in the world of social communication through web products. Sharadha is very passionate about music and photography. She also plays Ultimate Frisbee for one of the Chennai teams.</i>
<h3>Anand @sanand0</h3>
Talking about "How to generate pictures with numbers"<br/>
<i>Anand is a geek with interests in design, statistics and programming. He has studied at IIT Madras, IIM Bangalore and London Business School, and worked at IBM, Lehman Brothers, The Boston Consulting Group and Infosys Consulting. He is currently the Chief Data Scientist at Gramener.</i>
<h3>Vijay Prabhat Kamalakara of www.storytrails.in</h3>
Talking about "Telling Stories"<br/>
<i>Vijay holds an MBA from IIM Indore, and has prior work experience in the Banking and IT industries. After having worked in organizations like HSBC and TCS for over seven years, he set up Storytrails, a venture in creative outings and alternative tourism, in December 2006.
Vijay was recently awarded the ‘Young Creative Entrepreneur Award’ for Performing arts by the British Council. Vijay was also awarded a Youth Achiever Award for ‘Innovative Entrepreneurship’ by Yuva Shakti. Vijay is a member of the Madras Cosmopolitan Round Table 94.</i>
<h3>Bharani Shivakumar @yesbeeyes</h3>
Website <a href="http://www.saddlenshoes.com/">http://www.saddlenshoes.com/</a><br/>
Talking about "Cycling"<br/>
<i>Engineer by profession. Active with the cycling community for over 3 years. Had been part of national level races, tours and has traveled a lot on the two wheels. He is also a marathon runner and recently picked up photography. Very actively involved in organizing and promoting cycling activities with Tamilnadu Cycling Club</i>
<h3> Dr Renita Rajan</h3>
Talking about "Being a Doctor"<br/>
<i>Dr Renita Rajan is a Consultant Cosmetic Dermatologist when she is practicing either at Chennai Skin Clinic or Veecare Aesthetics.
At other times, she is an avid reader, NGO volunteer, wife and friend - but, no, not a doctor! She strongly believes in patient empowerment and education for better health outcomes, and feels the current health care system has much more to offer than meets the eye!</i>
<h3>Praveen Selvam</h3>
Website <a href="http://www.praveenselvam.com">www.praveenselvam.com</a>
Talking about "How I won the superbike"<br/>
<i>Praveen cares a lot about how people perceive things and keeps experimenting with the design of software and how people react to it. He is User Experience Designer at Indix, a startup based in IIT Research Park. While not at work, he spends a lot of time framing the wonderful moments that he sees around him. He started off as a travel blogger, which was when he bought his first motorcycle. Eventually he spent a lot of time riding to places, staring at his own pictures and figuring out newer ways to make them more interesting. Today, he does shoots for small occasions, organizations, automobiles and other activities that doesn't take him too far from his day job. Praveen also gets excited about a lot of other things like music remixing, dance, learning to play a percussion instrument and directing films. He is getting his hands on each one of those, one at a time!</i>
<h3>Sumit Kumar</h3>
Talking about "My real life story - getting rid of Asthma"<br/>
<i>Sumit got hit with Asthma and severe obesity while doing his B.Tech. He will be sharing his experience on how an obese person turned out to be fit and healthy. His hobbies include singing, doing stage shows and also being a part time DJ. He loves to gym and also help/train other people in gym!</i>
<h3>Ram Viswanathan @rviswana</h3>
Talking about "Don't Sprint the Marathon - Leadership Lessons from Running"<br/>
<i>Ram Viswanathan is an IBM Distinguished Engineer and a member of IBM Academy of Technology. Ram is the CTO for Solutions and Assets organization in India and also plays key technical role in GBS Cloud Computing activities.

Ram is an avid long distance runner and has participated in 29 marathons in 6 countries and 12 cities. He is the founder of Chennai Runners, which encourages everyone to take to running and get healthier. Currently this group has over 1100 members who have participated in over 100 marathons around the world.
</i>
<h3>Arvind Ashok, one of the founders of The Quad</h3>
Website <a href="http://www.arvindashok.com ">www.arvindashok.com </a><br/>
Talking about "The Emperor's new clothes"<br/>
<i>Arvind Ashok is an interaction designer-turned-certified fitness & nutrition coach who has helped many people achieve their fitness goals and lead healthier lives across the world. He is the co-founder, along with Raj Ganpath, of the The Quad, which is headquartered in Chennai. The Quad runs the pioneering BootCamp located at RA Puram, which has been running to packed houses from inception. Arvind Ashok specializes in sport performance training and plays Ultimate Frisbee for Team Chakraa in Chennai.</i>
<h3>Saad Ahmed @saadahmedtweets </h3>
Talking about "Last Minute Wisdom"<br/>
<i>Saad Ahmed works for Cognizant technology solutions. He is a tester by profession but a designer by heart. Perfection drives him whereas colors amuses him.</i>
<h3> Sridhar Lakshmanan of Ecologin </h3>
Website <a href="http://ecologin.org/">http://ecologin.org/</a><br/>
Talking about "How to service the rich and the poor in a mutually beneficial manner?" <br/>
<i>"I have always strived to be on my own and start my own organization, which has now become a reality in the form of ecoLogin (http://ecologin.org/)– a travel and tour, for profit private company and BASECAMP social research foundation- a NGO. My exposure to livelihood sector, as well as with various ICT initiatives in the country, gives me hands on experience in formulating cross subsidy models that mutually help and benefit the urban rich and the rural poor.</i>
<h3>Dr.Vasudha Prakash @vasudha_prakash of V-Excel</h3>
Website <a href="http://www.v-excel.org/">http://www.v-excel.org/</a><br/>
Talking about "The Fool’s Journey"<br/>
<i>Dr.Vasudha Prakash, Founder/Director of V-Excel , is a professional academician and holds a doctorate in Special Education from Rutgers University, New Jersey, USA. She brings with her a proven track record of success in the field of special education and learning disabilities. Under her able guidance and leadership, V-Excel has extended its range of services significantly in a short span of time. She is also a Psychotherapist, Hypnotherapist & PLR practioner.</i>





