<h3>Confirmed speakers 2012</h3>
We have started shortlisting talks with an objective to Ignite/Inspire minds of the local community and also have topics across fields. Below are the confirmed speakers in no particular order
<h3>Revathi of www.yocee.in</h3> Website <a href="http://www.yocee.in"> www.yocee.in</a><br/>Talking about "Young minds express".<br/>
<i>"I love to see the young people write as much as I love to write"-Revathi</i>
<h3>Peter Van Geit @petervangeit</h3>
Website <a href="http://www.chennaitrekkers.org">www.chennaitrekkers.org</a><br/>
Talking about "Transforming people through trekking".<br/>
<i>"Peter is the founder of the "Chennai Trekking Club", a 14 thousand member volunteer based non profit group of outdoor enthusiasts. Like minded souls overcome physical challenges as one team in the wilderness pushing their physical and mental limits. People come out of jungle survival missions as transformed human beings."</i>
<h3>Ramkumar Raghunathan @ramsabode</h3>
Talking about "Music - The Science behind the Art". <br/>
<i>"Ramkumar is a mrudangam artist. He learnt the art of mrudangam playing from Shri T.R. Dhandapany and Padma Vibhushan Sangeetha Kalanidhi Dr. Umayalpuram K. Sivaraman. He has performed in 500+ concerts and recordings for leading organizations and has also performed in All India Radio and Doordarshan (National Television). He is a recipient of many scholarships and awards including the recent Best Mrudangam Artist award from Sri Parthasarathy Swamy Sabha, Chennai in 2010 and Kumbakonam Shri Rajappa Iyer Award from Sri Krishna Gana Sabha, 2011. He works in the senior management and leadership team of a MNC."</i>
<h3>Prasanth Guruprasad @gprasant</h3>
Talking about "Finding Mnemo - Techniques that can be used to remember things effectively and a foray into the world of competitive memory as a sport" <br/>
<i>"Prasanth can solve a rubiks cube in 2 minutes and memorize a deck of cards in 5 minutes. Prasanth is an application developer by profession."</i>
<h3> Anand Krishnaswamy</h3>
Talking about "Troubadour Chef".<br/>
<i>
Anand's umbilical cord runs straight into the kitchen. No wonder he is a Troubadour Chef (well before he was a computer scientist/software engineer), wandering places & whipping up delicacies in different kitchens. But what's new about that? A Troubadour Chef is different from your take-home chef & Anand will walk you through that world in his Chennai Ignite talk. Be there if your heart is anywhere close to your stomach.
</i>
<h3>Sharadha Ramakrishnan</h3>
Talking about "It'll all make sense in the end, I promise"<br/>
<i>Sharadha is from the city of Chennai, Tamil Nadu, India. She grew up in the middle east for the most part and came back to India for her college education. Sharadha holds a Masters degree in Software Engineering from PSG Tech. She founded Monkey Creative Labs in May 2010, right after graduation and wants to make a difference in the world of social communication through web products. Sharadha is very passionate about music and photography. She also plays Ultimate Frisbee for one of the Chennai teams.</i>
<h3>Anand @sanand0</h3>
Talking about "How to generate pictures with numbers"<br/>
<i>Anand is a geek with interests in design, statistics and programming. He has studied at IIT Madras, IIM Bangalore and London Business School, and worked at IBM, Lehman Brothers, The Boston Consulting Group and Infosys Consulting. He is currently the Chief Data Scientist at Gramener.</i>
<h3>Vijay Prabhat Kamalakara of www.storytrails.in</h3>
Talking about "Telling Stories"<br/>
<i>Vijay holds an MBA from IIM Indore, and has prior work experience in the Banking and IT industries. After having worked in organizations like HSBC and TCS for over seven years, he set up Storytrails, a venture in creative outings and alternative tourism, in December 2006.
Vijay was recently awarded the ‘Young Creative Entrepreneur Award’ for Performing arts by the British Council. Vijay was also awarded a Youth Achiever Award for ‘Innovative Entrepreneurship’ by Yuva Shakti. Vijay is a member of the Madras Cosmopolitan Round Table 94.</i>
<h3>Bharani Shivakumar @yesbeeyes</h3>
Website <a href="http://www.saddlenshoes.com/">http://www.saddlenshoes.com/</a><br/>
Talking about "Cycling"<br/>
<i>Engineer by profession. Active with the cycling community for over 3 years. Had been part of national level races, tours and has traveled a lot on the two wheels. He is also a marathon runner and recently picked up photography. Very actively involved in organizing and promoting cycling activities with Tamilnadu Cycling Club</i>

